[Desktop Entry]
Name=Resolution auto
GenericName=Resolution auto
Comment=Autostart script
Exec=kscreen-console monitor  | xargs -L1 -I{} xrandr --output Virtual-0 --auto ; xrandr --output Virtual-1 --auto
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
